.buttons {
  display: flex;
  flex-direction: row;
}

.short {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.short-child{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  display: flex;
  flex-direction: row;
}
